<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sure.mi.mapper.ProductMapper">
    <resultMap id="productMap" type="com.sure.mi.model.Product">
        <id property="name" column="name"/>
        <result property="overview" column="overview"/>
        <result property="detail" column="detail"/>
        <collection property="versions" column="version.product_id" ofType="com.sure.mi.model.Version" javaType="ArrayList">
            <result property="product_id" column="product_id"/>
            <result property="photo" column="photo"/>
            <result property="version" column="version"/>
            <result property="color" column="color"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>
    <select id="selectProductByName" parameterType="String" resultMap="productMap">
        select name, overview, detail, product_id, photo, version, color, price
        from product join version on product.id=version.product_id
        where name=#{name}
    </select>
    <select id="selectIdByName" parameterType="String" resultType="Long">
        select id from product where name=#{name}
    </select>
</mapper>